<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= generalInfo.companyNameShort %><%= generalInfo.companyNameLong %></title>
    <link rel="stylesheet" href="w3.css">
</head>
<body>
    <%- include('titles/navbar')  %>  
    <%- include('titles/header')  %>  

    <div class="w3-content w3-padding" style="max-width: 1564px;">
        <%- include('titles/products') %>
        <%- include('titles/about') %>
        <%- include('titles/contact') %>

    </div>
    <%- include('titles/footer') %>
</body>
</html>